.outer_container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: #131324;
}
.inner_container {
  height: 85vh;
  width: 85vw;
  background-color: #111010;
  display: grid;
  grid-template-columns: 25% 75%;
}


@media screen and (max-width : 768px){
    .inner_container{
        grid-template-columns: 35% 65%;
    }
}
@media screen and (max-width : 425px){
    .inner_container{
        height: 100%;
        width: 100%;
        grid-template-columns: 35% 65%;
    }
}